# pattern
#
# foldername or file_name or pattern based files @name
#

*               @kshitijshettyyy
/.github/       @SiddharthChadachal


# for additional codeownership please add owners corresponding to their directories/files above this line 